# Python
__pycache__/
*.py[cod]
*$py.class

#  Virtual Environment
venv/
env/
ENV/

#  Environment variables
.env
.env.*
!.env.example
!**/.env.example

#  Flask
instance/
.webassets-cache/

#  Logs
*.log

#  Database
*.sqlite3

#  OS files
.DS_Store
Thumbs.db

#  IDE / Editor
.vscode/
.idea/

#  Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

#  Build / Packaging
build/
dist/
*.egg-info/

#  Docker (future use)
docker-compose.override.yml

#  Misc
*.swp
*.swo

# Node / JS
node_modules/
frontend/node_modules/
dist/
frontend/dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache
.npm
.cache
